@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000000;
    min-height: 100vh;
    overflow-x: hidden;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.navigation a {
    text-decoration: none;
    color: rgb(144, 217, 240);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover 
{
    background: rgb(4, 0, 255);
}

.welcome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body
{
    margin: 0px;
    padding: 0px;
}
.background
{
    width: 100%;
    height: 100vh;
    background-image: url(photo-1474224017046-182ece80b263.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.aboutpage {
    position: relative;
    display: flex;
    background-image: url(istockphoto-1068479990-612x612.jpg);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#text {
    position: relative;
    font-size: 7em;
    color:rgb(255, 255, 255);

}
